
<nav class="navbar">
    <div class="navbar-start " style="padding-top: 20px; padding-left: 40px;">
        <a class="button" routerLink="/home" routerLinkActive="is-primary">Home</a>
        <a class="button" routerLink="/items" routerLinkActive="is-primary" style="margin-left: 5px;">Items</a>
        <a class="button" routerLink="/players" routerLinkActive="is-primary" style="margin-left: 5px; ">Players</a>
        
    </div>
    <div class="navbar-end" style="padding-top: 20px; padding-right: 40px;">
        <a class="button is-danger" routerLink="/login" routerLinkActive="is-primary" >Log out</a>
    </div>
</nav>
<hr>
